Server

- npm init -y
- in package.json scripts change start value with node index.js and dev value with nodemon index.js
- npm i express cors mongoose jsonwebtoken cookie-parser dotenv bcryptjs nodemon socket.io crypto nodemailer


Client

- npm i react-router-dom react-hot-toast @reduxjs/toolkit react-redux socket.io-client react-icons axios
- npm i moment --save
- npm install -D tailwindcss
- npx tailwindcss init
- npm install --save @fortawesome/fontawesome-svg-core @fortawesome/free-solid-svg-icons @fortawesome/react-fontawesome @fortawesome/free-regular-svg-icons
- npm install --save emoji-mart @emoji-mart/data @emoji-mart/react
